<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ziya05.reservation.backend.mapper.ConsultantMapper">
  <resultMap id="BaseResultMap" type="com.ziya05.reservation.backend.pojo.Consultant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="qualification" jdbcType="VARCHAR" property="qualification" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="introducation" jdbcType="VARCHAR" property="introducation" />
    <result column="good_at" jdbcType="VARCHAR" property="goodAt" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="profile" jdbcType="VARCHAR" property="profile" />
  </resultMap>
</mapper>